# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV=development

DATABASE_URL="postgresql://postgres:docker@localhost:5432/hms?schema=public"
AUTH_SECRET=f092b5a3d5c5caf4bccd06ea532a7405
CRON_SECRET="+iWGmXZam0JcL9^xo4)!pv,wxtE0K1*Gb#7=p43Gru7-T#vL}6"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
S3_BUCKET=

VERSION=0.0.0