.sidebar {
    @apply relative w-auto h-screen bg-[#151719] text-white flex flex-col;
}

.sidebar.collapsed > .sidebarContent {
    @apply opacity-0;
}

.sidebarContent {
    @apply flex flex-col flex-grow max-h-full w-full py-5 gap-y-4;
}

.sidebarContent > * {
    @apply
    px-5
        }

.sidebarHeader {
    @apply px-5 flex items-center justify-center;
}

.companyLogo {
    @apply max-h-16 w-auto;
}

.collapseButton {
    @apply p-2 rounded-md hover:bg-[#ebeef0] hover:bg-opacity-10 text-white opacity-60 hover:opacity-100 transition-all;
}

.sidebarMenu {
    @apply px-5 flex-1 overflow-y-auto list-none;
}

.userDropdownContainer {
    @apply relative;
}

.menuItem {
    @apply mb-2;
}

.itemHeader {
    @apply px-5 flex justify-between items-center hover:bg-[#ebeef0] hover:bg-opacity-10 hover:text-white;
}

.item {
    @apply flex flex-grow items-center min-h-12 text-[#80868e];
}

.icon {
    @apply mr-2 aspect-square w-4;
}

.text {
    @apply flex-1;
}

.dropdownIcon {
    @apply text-gray-500 hover:text-white cursor-pointer h-3 aspect-square transition-all;
}

.dropdownIcon.open {
    @apply rotate-0;
}

.dropdownIcon.closed {
    @apply -rotate-90;
}

.dropdownMenu {
    @apply overflow-hidden list-none;
}

.dropdownMenu .menuItem {
    @apply mb-1 pl-16 hover:bg-[#ebeef0] hover:bg-opacity-10;
}

.active .itemHeader .item {
    @apply font-bold text-white;
}

.sidebarFooter {
    @apply
    relative
    mt-auto
    pt-5
    flex items-center justify-between
}

.footerUser {
    @apply
    flex items-center justify-between gap-x-2
    px-2 py-1.5
    rounded-3xl
    hover:bg-[#ebeef0] hover:bg-opacity-10
    cursor-pointer
    ;
}

.userAvatar {
    @apply
    border border-[#ebeef0] border-opacity-60
    rounded-full
    h-[32px]
    w-[32px]
    py-0.5
    p-4

    select-none
    flex items-center justify-center
    ;
}

.userAvatar > span {
    @apply
    text-center
}

.userDropdownIcon {
    @apply
    text-[#ebeef0]
    opacity-60
    h-3 w-3
}

.userInfo {
    @apply mb-4;
}

.userInfo span:first-child {
    @apply block text-lg font-semibold;
}

.userInfo span:last-child {
    @apply block text-sm text-gray-400;
}

.dropdownList {
    @apply list-none p-0 m-0;
}

.dropdownList li {
    @apply mb-2;
}

.dropdownList li a {
    @apply text-white hover:text-green-500;
}

.footerUserDropdown {
    @apply bg-gray-700 p-4 rounded-lg mt-2 shadow-lg absolute left-4 bottom-full w-56;
}

.footerOptions {
    @apply
    flex items-center
}

.logoutBtn {
    @apply
    p-2
    rounded-md
    transition-all
    cursor-pointer
    border border-[#ebeef0] border-opacity-60
    hover:border-opacity-100
    hover:bg-[#ebeef0] hover:bg-opacity-10
}

.logoutBtn > svg {
    @apply h-5 w-5 opacity-60 hover:opacity-100;
}

.toggleBtn {
    @apply cursor-pointer transition-transform bg-white absolute top-8 right-0 transform translate-x-1/2 rounded-full min-h-fit min-w-fit border-black border-2 flex items-center justify-center p-1;
}

.toggleBtn > svg {
    @apply h-5 w-5 text-gray-700;
}
